body{
    background-color: rgb(236, 236, 170);
}

img{
    width: 700px;
    height: 200px;
    margin: 70px auto;
    display: block;
    align-content: center;
}

.CantidadDeDinero{
    display: block;
    margin: auto;
    color: black;
}
 

.container{
    display: flex;
    justify-content: space-around;
}
.Convertir{
    display: block;
    margin: 30px auto;
}
.Resultado{
    display: block;
    text-align: center;
    margin: auto;
    color: black;
}
#Convertir{
    display: block;
    text-align: center;
    margin: auto;
    color: black;
}

.div #Resultado{
    display: block;
    margin: auto;
    justify-content: center;
    background-color: aqua;
    
}